<!DOCTYPE html>
<html>
<head>
    <style>
  table{
    border: 1px solid black;
    background-color: #006363;
  }
  td{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
  }
  th{
    border: 1px solid black;
    background-color: #008B8B;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #333333;
  }




    </style>
    <title>devNest-Home</title>
    <link type="text/css" rel="stylesheet" href="/css/initialWebStyle.css"/>
</head>
<body class="webBack">
<!-- Start your code here -->

<div class="header">
    <b>devNest</b>
    <div class="header-right">
        <a href="/">Home</a>
        {{#userEntity}}
        <!-- button that loads the login html -->
        <a href="/profile/{{id}}"> {{alias}}</a>
        <!-- button that takes you to organize a jam -->
        <a href="/registerJam"> Organize a Jam!</a>
        <!-- button that logs the user out -->
        <form action="/logout" method="post"><input type="submit" value="Log out"/><input type="hidden" name="_csrf" value="{{token}}"/></form>
        {{/userEntity}}
    </div>
</div>

<!-- game jams table -->

<p>
<h2 class="smallTitle">GameJams</h2>
<center>
    <table>
        <th>GameJam</th>
        <th>Topics</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Winner</th>
        {{#gamejams}}
        <tr>
            <td><a href="/gamejam/{{id}}"> {{name}}</a></td>
            <td>{{topic}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{#winner}} {{alias}} {{/winner}} {{^winner}} - {{/winner}}</td>
            <td><form action="/admin/delete-jam/{{id}}"><input type="submit" value="Delete"/><input type="hidden" name="_csrf" value="{{token}}"/></form></td>
        </tr>
        {{/gamejams}}
    </table>
</center>
</p>
<!-- End your code here -->
</body>
</html>