<!DOCTYPE html>
<html>
<head>
    <title>devNest - Upload a Videogame </title>
    <link type="text/css" rel="stylesheet" href="/css/createJamStyle.css"/>
</head>
<body class="webBack">
<!-- Start your code here -->
<div class="header">
    <b>Upload a videogame</b>
    <div class="header-right">
        <a href="/">Home</a>
        {{#userEntity}}
        <!-- button that logs the user out -->
        <form action="/logout" method="post"><input type="submit" value="Log out"/></form>
        {{/userEntity}}
    </div>
</div>

<form method='post' enctype="multipart/form-data" action="/createGame/{{tName}}">
    <br>
    <div class="request">
        <!-- Nombre del juego -->
        <label for="gameTitle"><b>Game title</b></label>
        <br>
        <input type="text" placeholder="Enter a game title" name="_title" id="_title" required>
        <br>
        <!-- Descripción del juego -->
        <label for="description"><b>Description</b></label>
        <br>
        <textArea type="text" style="resize: none" name="_descrition"  placeholder="Enter a small description..." id="_descrition" rows="4" cols="40" required></textArea>
        <br>
        <!-- categorias del juego -->
        <label for="category"><b>Categories</b></label>
        <br>
        <input type="text" placeholder="Enter a category" name="_category" id="_category" required>
        <br>
        <!-- plataformas -->
        <label for="plataform"><b>Platforms</b></label>
        <br>
        <input type="text" placeholder="Enter a platform for the game" name="_platform" id="_platform" required>
        <br>

        <!-- archivo del juego -->
        <label for="file"><b>Game file</b></label>
        <br>
        <input type="file"  name="_file" id="_file" accept=".zip, .rar, .exe, .png" required>
        <br>

    </div>

    <!-- Submit data button -->
    <center>
        <br>
        <button type="submit" class="registerbtn"> Register Game</button>
    </center>
    <br>
</form>
</body>

