<title>devNest-GameJam</title>
<link type="text/css" rel="stylesheet" href="/css/gameJamWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
<div class="header">
  <b href="#default">Game Jam</b>
  <div class="header-right">
    <a href="/">Home</a>
    {{#userEntity}}
        <!-- button that loads the login html -->
        <a href="/myProfile"> {{alias}}</a>

        <a href="/registerJam"> Organize a Jam!</a>
        <!-- button that loads the register html -->
        <a href="/logout"> Log out</a>
        {{/userEntity}}

        {{^userEntity}}
        <!-- button that loads the login html -->
        <a href="/login"> Log in</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
        {{/userEntity}}
  </div>
</div>
<br>
{{#gamejam}}
  <div class="GameJamData">
    <div class="ProfileTitle">

      <label for = "GameGenJam"><b>{{name}}</b></label>
    </div>
    <hr>
    {{#description}}
      {{description}}
    {{/description}}
    {{^description}}
    -
    {{/description}}
    <br>
  </div>
  <br>
  <div class="ThemeData">
    <div class="ThemeTitle">
      <label for = "Theme"><b>Topics</b></label>
    </div>
    <hr>
    {{topic}}
    <hr>
    {{startDate}}
    <hr>
    {{endDate}}
    <hr>
  </div>
  <br>
    <div class="bigTitle">
    <h1>Videogames Uploaded</h1>
     <hr>
  </div>
    <br>
<form method='get' action='/gamejam/{{id}}/register+team'>
    <center>
        <div class="request">
            <input type="text" placeholder="Enter team name" name="teamname" id="teamname" required>
        </div>
        <br>
        <input type='submit' value='Create new team'>
    </center>
</form>

<ul style="list-style: none;"> {{#teams}}
  <li>
    <from method='get' action='/creategame'
          <center>
             
          </center>
    <div class="GamesCard">
          <h4><b>{{teamName}}</b></h4>
          {{^videogame}}
      <center>
       <form method='get' action="/game/{{id}}">
        </form>
        <button id="show" onclick="" class="randomButton">Upload Game</button>
      </form>
      </center>
          {{/videogame}}
          <h4><b>{{#videogame}}
            <a href="/createGame"> {{title}} </a>
          {{/videogame}} </b> </h4>
          <form method='get' action='/gamejam/{{gamejam.id}}/join+team/{{id}}'>
            <center>
              <input type='submit' value='Join {{teamName}}'>
            </center>
          </form>
    </div>
    <br>
  </li>
{{/teams}} </ul>


{{/gamejam}}
<hr>
