<title>devNest-GameJam</title>
<link type="text/css" rel="stylesheet" href="/css/gameJamWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
<div class="header">
  <b href="#default">Game Jam</b>
  <div class="header-right">
    <a  href="#home">Home</a>
    <a href="#login">Log Out</a>
  </div>
</div>
<br>

  <div class="GameJamData">
    <div class="ProfileTitle">
      <label for = "GameGenJam"><b>GameGenJam</b></label>
    </div>
    <hr>
    GameJam Organizada por la asociación Virtual Souls de la URJC
    <br>
  </div>
  <br>
  <div class="ThemeData">
    <div class="ThemeTitle">
      <label for = "Theme"><b>Themes</b></label>
    </div>
    <hr>
    Perros azules
    <br>
  </div>
  <br>
    <div class="bigTitle">
    <h1>Videogames Uploaded</h1>
     <hr>
  </div>
  
    <br>
<div class="GamesCard">
      <h4><b>FurFun</b></h4>
      <p>Pasalo mal jugando a este juego con NFTs</p>
  <p><a href="#"> Download </a></p>
  </div>
  <hr>
  
</form>