<title>devNest-Videogame</title>
<link type="text/css" rel="stylesheet" href="/css/gameWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
<div class="header">
  <b href="#default">Videogame</b>
  <div class="header-right">
    <a href="/">Home</a>
    {{#userEntity}}
        <!-- button that loads the login html -->
        <a href="/profile/{{id}}"> {{alias}}</a>

        <a href="/registerJam"> Organize a Jam!</a>
        <!-- button that logs the user out -->
        <form action="/logout" method="post"><input type="submit" value="Log out"/><input type="hidden" name="_csrf" value="{{token}}"/></form>
        {{/userEntity}}
        
        {{^userEntity}}
        <!-- button that loads the login html -->
        <a href="/login"> Log in</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
        {{/userEntity}}  
  </div>
</div>
<br>
<!--Game Info-->
  <div class="GameData">
    {{#game}}
    <div class="GameTitle">
      <label for = "Game"><b>{{title}}</b></label>
    </div>
    <hr>
    <c>{{#description}}
      {{description}}
    {{/description}}
    {{^description}}
    -
    {{/description}}</c>
    <br>
    <hr>
    <c>{{date}}</c>
    <hr>
    <c>{{#category}}
      {{category}}
    {{/category}}
    {{^category}}
    -
    {{/category}}</c>
    <hr>
    <c>{{#platform}}
      {{platform}}
    {{/platform}}
    {{^platform}}
    -
    {{/platform}}</c>
  <c>Download link: {{#filePath}}
    <a href="#"> {{title}}</a>
    {{/filePath}}
    {{^filePath}}
    -
    {{/filePath}}
  </c>
  <br>
</div>
  <!--Comments-->
  <br>
    <div class="bigTitle">
      <h1>Comments</h1>
        <hr>
    </div>  
    <br>
    <ul>{{#comments}}
      
      <li>
        <div class="GamesCard">
          {{#user}}
              <p><a href="/profile/{{id}}"> {{alias}}  </a></p>
          {{/user}}
              <br>
              {{#parentComment}}
              {{textComment}}
              {{/parentComment}}
              <br>
              <b>
              {{#textComment}}
                {{textComment}}
              {{/textComment}}
              {{^textComment}}
              -
              {{/textComment}}</b>
            <dialog id="ms" style="background-color: #006363;">
        <h2 style="color: white;">Answer</h2>
        <form method='post' enctype="multipart/form-data" action="/game/{{game.id}}/answerComment+{{id}}">
            <textArea type="text" style="resize: none" name="userCommentBox" placeholder="Enter a small description ..."
                      id="userCommentBox" rows="4" cols="50"></textArea>
            <br>
            <br>
          <button type="submit" class="answerButton"> Answer </button>
          <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
        <button id="close" onclick="document.getElementById('ms').close()" class="randomButton">Close</button>
    </dialog>
                <button id="answer" onclick="document.getElementById('ms').show()" class="answerButton2">Answer</button>
          
          <br>
          <br>
        </div>
      </li>
    {{/comments}}</ul>

    <div class="GamesCard">
      {{#userEntity}}
    {{alias}}
    <form action="/game/{{game.id}}/addComment" id="userCommentBox">
  <textarea id="userCommentBox" placeholder="Leave a comment..." name="userCommentBox" rows="4" cols="50"></textarea>
        <br><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
  {{/userEntity}}

  {{^userEntity}}
      <a href="/login"> Log in to comment on this post</a>
  {{/userEntity}}
   </div>

    {{/game}}    