<title>devNest</title>
<link type="text/css" rel="stylesheet" href="/css/logInWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->


<form action="Profile_page.php">
  <div class="bigTitle">
    <h1>GameJam</h1>
     <hr>
  </div>
  <br>
  <div class="GameJamData">
    <div class="ProfileTitle">
      <label for = "GameGenJam"><b>GameGenJam</b></label>
    </div>
    <hr>
    GameJam Organizada por la asociación Virtual Souls de la URJC
    <br>
  </div>
  <br>
  <div class="ThemeData">
    <div class="ThemeTitle">
      <label for = "Theme"><b>Themes</b></label>
    </div>
    <hr>
    Perros azules
    <br>
  </div>
  <br>
    <div class="bigTitle">
    <h1>Videogames Uploaded</h1>
     <hr>
  </div>
  
    <br>
<div class="GamesCard">
      <h4><b>FurFun</b></h4>
      <p>Pasalo mal jugando a este juego con NFTs</p>
  <p><a href="#"> Download </a></p>
  </div>
  <hr>
  <div class="Info">
	<p><a href="#"> Home </a></p>
	<p><a href="#"> Log Out </a></p>
  </div>
</form>