<title>devNest-Videogame</title>
<link type="text/css" rel="stylesheet" href="/css/gameWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
<div class="header">
  <b href="#default">Videogame</b>
  <div class="header-right">
    <a  href="/">Home</a>
    <a href="/logout">Log Out</a>
  </div>
</div>
<br>

  <div class="GameData">
    <div class="GameTitle">
      <label for = "Game"><b>FurFun</b></label>
    </div>
    <hr>
    <c>Pasalo genial comprando NFTs</c>
    <br>
    <hr>
    <c>Developed by:</c>
    <a href="#">Carlos Chamizo</a>
  </div>
  <br>
  
  <br>
    <div class="bigTitle">
    <h1>Comments</h1>
     <hr>
  </div>
  
    <br>
<div class="GamesCard">
      <p><a href="#"> Pablo D. Hoz </a></p>
      <b>Ey muy divertido XD</b>
  <br>
  <br>
  </div>
  
  
</form>