<!DOCTYPE html>
<html>
<head>
    <style>
  table{
    border: 1px solid black;
    background-color: #006363;
  }
  td{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
  }
  th{
    border: 1px solid black;
    background-color: #008B8B;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #333333;
  }



    </style>
    <title>devNest-Home</title>
    <link type="text/css" rel="stylesheet" href="/css/initialWebStyle.css"/>
</head>
<body class="webBack">
<!-- Start your code here -->

<div class="header">
    <b>devNest</b>
    <div class="header-right">
        {{#userEntity}}
        <!-- button that loads the login html -->
        <a href="/myProfile"> {{alias}}</a>
        <!-- button that loads the register html -->
        <a href="/logout"> Log out</a>
        {{/userEntity}}
        
        {{^userEntity}}
        <!-- button that loads the login html -->
        <a href="/login"> Log in</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
        {{/userEntity}}        
    </div>
</div>

<!-- random topic generator -->
<p>
    <!-- random button -->
    <h2 class="smallTitle"> Random Topic Generator</h2>
    <center>

        <form action="/">
            <input class="randomButton" type='submit' value='home'/>
        </form>

    </center>

    <!-- word displays -->
    <center>
        <fieldset class="randomWordDisplay">{{topic1}}</fieldset>
        <fieldset class="randomWordDisplay">{{topic2}}</fieldset>
    </center>
</p>

<!-- game jams table -->

<p>
<h2 class="smallTitle">GameJams</h2>
<center>
    <table>
        <th>GameJam</th>
        <th>Topics</th>
        <th>Teams</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Winner</th>
        {{#gamejams}}
        <tr>
            <td>{{name}}</td>
            <td>{{topic}}</td>
            <td>{{^teams}}Hola{{/teams}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{^winner}}.{{/winner}}</td>
        </tr>
        {{/gamejams}}
    </table>
</center>
</p>
<!-- End your code here -->
</body>
</html>