<!DOCTYPE html>
<html>
<head>
    <title>devNest-Log In</title>
    <link type="text/css" rel="stylesheet" href="/css/logInWebStyle.css"/>
</head>
<body class="webBack">
<!-- Start your code here -->

<div class="header">
    <b>Log In</b>
    <div class="header-right">
        <!-- button that takes you back to the home screen-->
        <a href="/"> Home</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
    </div>
</div>

<br>

<form method='post' action="/login">
    <div class="request">
        <label for="username"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter username" name="username" id="username" required>
        <br>


        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <br>
        {{#error}}
        <p>Invalid credentials. Try again</p>
        <br>
        {{/error}}

        <p>Don't have an account? <a href="/register"> Register now </a></p>
    </div>

    <center>
        <br>
        <button type="submit" class="registerbtn"> Log in</button>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </center>
    <br>

    </div>
</form>
