<!DOCTYPE html>
<html>
<head>
<style>
  table{
    border: 1px solid black;
    background-color: #006363;
  }
  td{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
  }
  th{
    border: 1px solid black;
    background-color: #008B8B;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #333333;
  }
</style>
<title>devNest</title>
<link type="text/css" rel="stylesheet" href="/css/logInWebStyle.css"/>
</head>
<body class="webBack">
<!-- Start your code here -->


<form action="register_page.php">
  <div class="bigTitle">
    <h1>Log in</h1>
     <hr>
    <p>Please fill in to log in. 	</p>
  </div>
  <br>
  <div class="request">
    <label for = "username"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter username" name="username" id="username" required> 
    <br>
   
    
    <label for="psw"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <br>
      </div>
    
      <center>
        <br>
    <button type="submit" class = "registerbtn"> Log in </button>
    </button>
    </center>
    <br>
<div class="Terms">
	<p>Forgot your password? <a href="#"> We're sorry </a></p>
  <hr>
	<p>Don't have an account? <a href="#"> Register now </a></p>
  </div>
</form>

