<title>devNest-Profile</title>
<link type="text/css" rel="stylesheet" href="/css/profileWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
<div class="header">
    <b>Profile</b>
    <div class="header-right">
        <a href="/">Home</a>
        {{#userEntity}}
        <!-- button that loads the registerJam html -->
        <a href="/registerJam"> Organize a Jam!</a>
        <!-- button that logs the user out -->
        <form action="/logout" method="post"><input type="submit" value="Log out"/></form>
        {{/userEntity}}

        {{^userEntity}}
        <!-- button that loads the login html -->
        <a href="/login"> Log in</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
        {{/userEntity}}
    </div>
</div>
<br>
<div class="UserData">
    {{#userEntity}}
    <div class="ProfileTitle">
        {{#profilePicture}}
        <img src="/{{id}}/image" height="300" width="auto" style="border-radius: 15px">
        <br>
        {{/profilePicture}}
        <label for="Profile"><b>{{alias}}</b></label>
    </div>
    <hr>
    {{#description}}
    {{description}}
    {{/description}}
    {{^description}}
    -
    {{/description}}
    <br>
    <dialog id="ms" style="background-color: #006363;">
        <h2 style="color: white;">Edit Profile</h2>
        <form method='post' enctype="multipart/form-data" action="/editProfile">
            <h3 style="color: white;">Description</h3>
            <textArea type="text" style="resize: none" name="description" placeholder="Enter a small description ..."
                      id="description" rows="4" cols="50"></textArea>
                        <br>
            <h3 style="color: white;">Select a file</h3>
            <input style="color: white;" type="file" id="myfile" name="myfile" accept=".png,.jpg,.jpeg,.gif">
            <br>
            <br>
            <button type="submit" class="randomButton"> Update</button>
        </form>
        <button id="close" onclick="document.getElementById('ms').close()" class="randomButton">Close</button>
    </dialog>
    <button id="show" onclick="document.getElementById('ms').show()" class="randomButton">Edit</button>
    <br>
</div>
<br>
{{/userEntity}}

<div class="bigTitle">
    <h1>Videogames</h1>
    <hr>
</div>

<br>
<!--List of all videogames of the current profile-->
<ul> {{#videogame}}
    <li>
        <div class="GamesCard">
            <h4><b>{{title}}</b></h4>
            <p>

                {{#description}}
                {{description}}
                {{/description}}
                {{^description}}
                -
                {{/description}}

            </p>
        </div>
    </li>
    {{/videogame}}
</ul>
<hr>
