<title>devNest-Profile</title>
<link type="text/css" rel="stylesheet" href="/css/profileWebStyle.css"/>

<body class="webBack">
<!-- Start your code here -->
  
<div class="header">
  <b>Profile</b>
  <div class="header-right">
    <a href="/">Home</a>
        {{#userEntity}}
            <!-- button that loads the registerJam html -->
            <a href="/registerJam"> Organize a Jam!</a>
            <!-- button that loads the register html -->
            <a href="/logout"> Log out</a>
        {{/userEntity}}
        
        {{^userEntity}}
        <!-- button that loads the login html -->
        <a href="/login"> Log in</a>
        <!-- button that loads the register html -->
        <a href="/register"> Register</a>
        {{/userEntity}}  
  </div>
</div>
<br>
<form action="Profile_page.php">
  <div class="UserData">
    <div class="ProfileTitle">
      <img src="img_avatar.png" alt="Avatar">
      <br>
      <label for = "Carlos Chamizo"><b>Carlos Chamizo</b></label>
    </div>
    <hr>
    Actualmente cursando 4º curso del Doble Grado de Diseño y Desarrollo de Videojuegos e Ingeniería de Computadores de la URJC.
    <br>
  </div>
  <br>
  
    <div class="bigTitle">
    <h1>Videogames</h1>
     <hr>
  </div>
  
    <br>
<div class="GamesCard">
	<img src="Furfun.png" alt="FurFun" >
      <h4><b>FurFun</b></h4>
      <p>Pasalo mal jugando a este juego con NFTs</p>
  <p><a href="#"> Download </a></p>
    </div>
  <hr>
</form>